<div class="form-style-9">
  <h1 style="color: black;font-weight: bold;text-align: center;margin-bottom: 30px">CREATION ENTREPRISE
  </h1>
  <form #insForm="ngForm" name="insForm" [mustMatch]="['mdp', 'confirmation']">
    <ul>
      <li style="font-weight: bold;font-size: large">Utilisateur</li>
      <li>
        <input type="text" class="field-style field-full align-none" id="identifiant" name="identifiant"
               [(ngModel)]="utilisateur.identifiant " placeholder="Identifiant*" required #identifiant="ngModel">
        <div *ngIf="identifiant.invalid && (identifiant.dirty)"
             class="error">
          <div *ngIf="identifiant.errors.required" class="error">
            Identifiant obligatoire
          </div>
        </div>
      </li>
      <li>
        <input type="text" class="field-style field-full align-none" id="mdp" [(ngModel)]="utilisateur.mdp"
               placeholder="Mot de Passe*" name="mdp" required #mdp="ngModel" minlength="4">
        <div *ngIf="mdp.invalid && (mdp.dirty)"
             class="error">
          <div *ngIf="mdp.errors.required" class="error">
            Mot de passe obligatoire
          </div>
          <div *ngIf="mdp.errors.minlength" class="error">
            Au moins 4 caractères
          </div>
        </div>
      </li>
      <li>
        <input type="text" class="field-style field-full align-none" id="confirmation"
               [(ngModel)]="utilisateur.confirmation"
               placeholder="Confirmation*" name="confirmation" required #confirmation="ngModel">
        <div *ngIf="confirmation.invalid && (confirmation.dirty) "
             class="error">
          <div *ngIf="confirmation.errors.required" class="error">Confirmation obligatoire</div>
          <div *ngIf="confirmation.errors.mustMatch" class="error">Confirmation invalide</div>
        </div>
      </li>
      <li>
        <input type="text" class="field-style field-split align-left" id="email" [(ngModel)]="utilisateur.email "
               placeholder="Email*" name="email" required #email="ngModel">
        <div *ngIf="email.invalid && (email.dirty)"
             class="error">
          <div *ngIf="email.errors.required" class="error">
            Courriel obligatoire
          </div>
        </div>
        <input type="text" class="field-style field-split align-right" id="telephone"
               [(ngModel)]="utilisateur.telephone" name="telephone" placeholder="Téléphone*">
      </li>
      <li>
        <input type="text" class="field-style field-split align-left" id="nomuser" [(ngModel)]="utilisateur.nom "
               placeholder="Nom*" required
               #nomuser="ngModel" name="nomuser">
        <div *ngIf="nomuser.invalid && (nomuser.dirty)"
             class="error">
          <div *ngIf="nomuser.errors.required" class="error">
            Nom obligatoire
          </div>
        </div>
        <input type="text" class="field-style field-split align-right" id="prenomuser"
               [(ngModel)]="utilisateur.prenom " placeholder="Prénom*" required #prenomuser="ngModel" name="prenomuser">
        <div *ngIf="prenomuser.invalid && (prenomuser.dirty)"
             class="error">
          <div *ngIf="prenomuser.errors.required" class="error">
            Prénom obligatoire
          </div>
        </div>
      </li>
      <li style="font-weight: bold;font-size: large">Entreprise</li>
      <li>
        <input type="text" class="field-style field-full align-none" id="nom" [(ngModel)]="utilisateur.entreprise.nom"
               placeholder="Nom de l'entreprise*" required #nom="ngModel" name="nom">
        <div *ngIf="nom.invalid && (nom.dirty)"
             class="error">
          <div *ngIf="nom.errors.required" class="error">
            Nom de l'entreprise obligatoire
          </div>
        </div>
      </li>
      <li><input type="text" class="field-style field-full align-none" id="siret"
                 [(ngModel)]="utilisateur.entreprise.siret" placeholder="SIRET*" required #siret="ngModel" name="siret">
        <div *ngIf="siret.invalid && (siret.dirty)"
             class="error">
          <div *ngIf="siret.errors.required" class="error">
            SIRET obligatoire
          </div>
        </div>
      </li>

      <li>
        <input type="text" class="field-style field-split align-left" id="rue"
               [(ngModel)]="utilisateur.entreprise.adresse.rue" placeholder="Rue*" required #rue="ngModel" name="rue">
        <div *ngIf="rue.invalid && (rue.dirty)"
             class="error">
          <div *ngIf="rue.errors.required" class="error">
            Rue obligatoire
          </div>
        </div>

        <input type="text" class="field-style field-split align-right" id="codePostal"
               [(ngModel)]="utilisateur.entreprise.adresse.codePostal" placeholder="Code Postal*" required
               #codePostal="ngModel" name="codePostal">
        <div *ngIf="codePostal.invalid && (codePostal.dirty)"
             class="error">
          <div *ngIf="codePostal.errors.required" class="error">
            Code Postal obligatoire
          </div>
        </div>
      </li>
      <li>
        <input type="text" class="field-style field-full align-none" id="ville"
               [(ngModel)]="utilisateur.entreprise.adresse.ville" placeholder="Ville*" required #ville="ngModel"
               name="ville">
        <div *ngIf="ville.invalid && (ville.dirty)"
             class="error">
          <div *ngIf="ville.errors.required" class="error">
            Ville obligatoire
          </div>
        </div>
      </li>
      <li>
        <input type="text" class="field-style field-full align-none" id="tva" [(ngModel)]="utilisateur.entreprise.tva"
               placeholder="TVA*" required
               #tva="ngModel" name="tva">
        <div *ngIf="tva.invalid && (tva.dirty)"
             class="error">
          <div *ngIf="tva.errors.required" class="error">
            TVA obligatoire
          </div>
        </div>

      </li>
      <li>
        <input type="text" class="field-style field-full align-none" id="code"
               [(ngModel)]="utilisateur.entreprise.codeEntreprise" placeholder="Code Entreprise*" required
               #code="ngModel" name="code">
        <div *ngIf="code.invalid && (code.dirty)"
             class="error">
          <div *ngIf="code.errors.required" class="error">
            Code Entreprise obligatoire
          </div>
        </div>

      </li>
    </ul>
    *Obligatoire
  </form>
  <div class="btn-group btn-group-lg float-right">
    <a class="btn" style="background: #0A3FFF;color:white">
      <i class="fa fa-check" (click)="save()" [routerLink]="['/utilisateur/']"></i>
    </a>
    <a class="btn" style="background: #DC3B3B;color: white">
      <i class="fa fa-undo" [routerLink]="['../login']"></i>
    </a>
  </div>
</div>

<!--    *Obligatoire-->
<!--  -->
<!--  <div class="btn-group btn-group-lg float-right">-->
<!--    <button style="background: #0A3FFF;font-weight: bold;color: white" class="btn" (click)="save()">Créer-->
<!--      <i-->
<!--        class="fa fa-angle-double-right"></i></button>-->
<!--  </div>-->
<!--</div>-->
