<div class="container">
  <div class="card mt-3">
    <div class="card-header bg-info text-white">
      <h2>{{evenement.titre}}</h2>
    </div><br>
    <div>
      {{evenement.date}}
    </div>
    <hr>
    <div>
      <div class="btn-group btn-group-sm">
        <a class="btn btn-success">Participe<i class="fas fa-check"></i></a>
        <a class="btn btn-primary">Interesse<i class="fas fa-info"></i></a>
      </div>
    </div>
    <hr>
    <div>
 {{evenement.lieuxEvenement}}<i class="fas fa-map-marked-alt"></i>
    </div>
    <hr>
    <div>
      <a class="btn btn-primary">Nombre de participants, interesses <i class="far fa-calendar-check"></i></a>
    </div>
    <hr>
    <div> Prix :
      {{evenement.prix}} <i class="fas fa-euro-sign"></i>>
    </div>
    <hr>
    <div >Nombre de places disponibles<i class="fas fa-user-plus"></i>
    </div>
    <hr>
    <div>
      {{evenement.statutOF}}

    </div>
    <hr>
    <div>
      Description :
      <div><br>
        description de l'evenement
      </div>
    </div>
    <hr>
    <div>
      Date limite de l'inscription :
      {{evenement.deadline}}
      <i class="far fa-edit"></i>
    </div>
    <hr>
    <div>
      Ajouter un commentaire :
      <div>
        <input type="text" name="commentaire">
        <button type="button">Valider<i class="fas fa-share-square"></i></button>
      </div>
    </div>
    <hr>
    <div>
      Commentaires :
      <div>
        commentaire 1
      </div>
      <div>
        commentaire 2
      </div>
    </div>
  </div>
</div>
