<div class="row">
  <div class="col-lg-3">
    <div class="form-style-9">
      <div *ngIf="!img"><img [src]="'assets/img/noavatar.jpg'" class="avatar"/></div>
      <div *ngIf="img"><img [src]="'assets/img/'+utilisateur.identifiant+'.jpg'"
                            alt="Avatar" class="avatar"/></div>
      <h1>{{utilisateur.identifiant}}</h1>
      <h2 class="title">{{utilisateur.nom}}</h2>
      <h3 class="title">{{utilisateur.prenom}}</h3>
      <p>
        <button type="button" [routerLink]="['/modificationUtilisateur']">Voir/Modifier des informations
        </button>
      </p>
      <div *ngIf="utilisateur.admin==true">
        <button type="button" [routerLink]="['/evenementstarch']">Organiser un événement entreprise
        </button>
      </div>
    </div>
  </div>
  <br>

  <div class="col-8" >
    <div class="form-style-8" style="position: relative">
      <br>
      <h2 style="font-weight: bold; color:black;text-align: center">GROUPES <i class="fa fa-users"></i></h2>
      <div class="form-style-7">
        <div *ngFor="let groupe of groupes">
          <p>{{groupe.nom}}
            <i [routerLink]="['../groupe/'+ groupe.id]" class="fa fa-user-circle"></i>
          </p>
        </div>
<!--        <i class="fa fa-plus" [routerLink]="['../creationGroupe']"></i>-->
      </div>
      <div style="position:relative; maring-top: 0px; margin-left: 880px " >  <a [routerLink]="['/creationGroupe']" class="signup-image-link" style="color: #0A3FFF; font-size: 19px"><u> Create a group</u> </a></div>
      <div style="position: relative; margin-top: 0px; margin-left: 880px  "  >  <a  (click)= "afficherzonedetexte()" style="color: #0A3FFF; font-size: 19px"  > <u> Join a group </u> </a></div>

      <div *ngIf="afficherinput">
        <div class="col-sm-3" style="position:relative; margin-top: 0px">
      <input  [(ngModel)]="groupe.codeGroupe" ng-style="myStyle" type="text" class="form-control" id="mytextinput" name="dtEtHeure" placeholder="--Entrez un nom de groupe valide--" >
        </div>
        <div style="position:relative ; maring-top: -10px; margin-left: 880px " ><a (click)="affichergroupe()" class="btn" style="background: #0A3FFF;color:white"><i class="fa fa-check" ></i></a></div>
        <div *ngIf="groupinexist==true" style="color: #DC3B3B">Entrez un code de groupe valide</div>
      </div>
      <br>
      <h2 style="font-weight: bold; color:black;text-align: center">EVENEMENTS <i class="fa fa-beer"></i></h2>
      <div class="form-style-7">
        <div *ngFor="let evenement of evenements">
          <p>{{evenement.titre}}<i [routerLink]="['../evenement/'+evenement.id]" class="fa fa-glass"></i>
          </p>
        </div>
        <br>
      </div>
      <div style="position: relative; maring-top: 0px; margin-left: 898px " >  <a [routerLink]="['/calendar']" class="signup-image-link" style="color: #0A3FFF; font-size: 19px"> <u> Join an Event </u> </a></div>
      <!--      <h2 style="font-weight: bold; color:black;text-align: center">FAVORIS</h2>-->
      <!--      <div class="form-style-6">-->
      <!--        <div *ngFor="let fav of favoris">-->
      <!--          <p>{{fav.lieuxFavoris?.nomLieu}}</p>-->
      <!--        </div>-->
      <!--        <div>Ajouter un Lieu favoris</div>-->
      <!--        <i class="fa fa-plus-circle" (click)="save()"></i>-->
      <!--        <div>-->
      <!--          <select style="border:2px solid black" [(ngModel)]="favori.lieuxFavoris.id">-->
      <!--            <option value="" selected>Selectionnez un lieu</option>-->
      <!--            <option *ngFor="let lieu of lieux" [value]="lieu.id">{{lieu.nomLieu}}</option>-->
      <!--          </select>-->
      <!--        </div>-->
      <!--        <p>-->
      <!--          <i class="fa fa-trash"> Supprimer un lieu favoris</i>-->
      <!--        </p>-->
      <!--        <br>-->
      <!--      </div>-->
    </div>
  </div>

</div>



