<div class="container">
  <div class="card mt-5" style="border: 1px solid black">
    <div class="card-header" style="background: white;border-bottom: 1px solid black">
      <h3 style="font-weight: bold; color: #FF9D03">NOUVEAU LIEU</h3>
    </div>

    <div class="card-body">
      <div class="form-group">
        <label for="nomLieu">Nom de l'établissement*: </label>
        <input type="text" class="form-control" id="nomLieu" name="nomLieu"[(ngModel)]="lieuxEvenement.nomLieu" required #nomLieu="ngModel" placeholder="Nom de l'établissement"
               style="border: 1px solid black">
        <div *ngIf="nomLieu.invalid && (nomLieu.dirty)"
             class="error">
          <div *ngIf="nomLieu.errors.required" class="error">
            Nom de l'établissement obligatoire
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="rue">Rue* :</label>
        <input type="text" class="form-control" name="rue" id="rue" [(ngModel)]="lieuxEvenement.adresse.rue" required #rue="ngModel" >
        <div *ngIf="rue.invalid && (rue.dirty)"
             class="error">
          <div *ngIf="rue.errors.required" class="error">
            Rue obligatoire
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="complement">Complément: </label>
        <input type="text" class="form-control" id="complement" [(ngModel)]="lieuxEvenement.adresse.complement"
               style="border: 1px solid black">
      </div>

      <div class="form-group">
        <label for="codePostal">Code postal* :</label>
        <input type="text" class="form-control" name="codePostal" id="codePostal"  [(ngModel)]="lieuxEvenement.adresse.codePostal" required #codePostal="ngModel" >
        <div *ngIf="codePostal.invalid && (codePostal.dirty)"
             class="error">
          <div *ngIf="codePostal.errors.required" class="error">
            Code Postal obligatoire
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="ville">Ville* :</label>
        <input type="text" class="form-control" name="ville" id="ville" [(ngModel)]="lieuxEvenement.adresse.ville" required #ville="ngModel" >
        <div *ngIf="ville.invalid && (ville.dirty)"
             class="error">
          <div *ngIf="ville.errors.required" class="error">
            Ville obligatoire
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="informations">Complément d'informations: </label>
        <textarea type="text" class="form-control" id="informations"
                  [(ngModel)]="lieuxEvenement.description" style="border: 1px solid black"></textarea>
      </div>
    </div>
  </div>
  <div class="card-footer" style="background: white">
    <div class="btn-group btn-group-lg float-right">
      <a class="btn" style="background: #0A3FFF" (click)="save()">
        <i class="fa fa-check"></i>
      </a>
      <a class="btn" style="background: #FF9D03">
        <i class="fa fa-undo"></i>
      </a>
    </div>
  </div>
</div>


