<div class="form-style-9">
  <h3 style="color: black;font-weight: bold;text-align: center;margin-bottom: 30px">NOUVEAU LIEU</h3>
    <label for="nomLieu">Nom de l'établissement*: </label>
    <input type="text" class="form-control" id="nomLieu" name="nomLieu" [(ngModel)]="lieuxEvenement.nomLieu" required
           #nomLieu="ngModel" placeholder="Nom de l'établissement">
    <div *ngIf="nomLieu.invalid && (nomLieu.dirty)"
         class="error">
      <div *ngIf="nomLieu.errors.required" class="error">
        Nom de l'établissement obligatoire
      </div>
    </div>
    <div class="form-group">
      <label for="rue">Rue* :</label>
      <input type="text" class="form-control" name="rue" id="rue" [(ngModel)]="lieuxEvenement.adresse.rue" required
             #rue="ngModel">
      <div *ngIf="rue.invalid && (rue.dirty)"
           class="error">
        <div *ngIf="rue.errors.required" class="error">
          Rue obligatoire
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="complement">Complément: </label>
      <input type="text" class="form-control" id="complement" [(ngModel)]="lieuxEvenement.adresse.complement">
    </div>

    <div class="form-group">
      <label for="codePostal">Code postal* :</label>
      <input type="text" class="form-control" name="codePostal" id="codePostal"
             [(ngModel)]="lieuxEvenement.adresse.codePostal" required #codePostal="ngModel">
      <div *ngIf="codePostal.invalid && (codePostal.dirty)"
           class="error">
        <div *ngIf="codePostal.errors.required" class="error">
          Code Postal obligatoire
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="ville">Ville* :</label>
      <input type="text" class="form-control" name="ville" id="ville" [(ngModel)]="lieuxEvenement.adresse.ville"
             required #ville="ngModel">
      <div *ngIf="ville.invalid && (ville.dirty)"
           class="error">
        <div *ngIf="ville.errors.required" class="error">
          Ville obligatoire
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="informations">Complément d'informations: </label>
      <textarea type="text" class="form-control" id="informations"
                [(ngModel)]="lieuxEvenement.description"></textarea>
    </div>
  <div class="btn-group btn-group-lg float-right">
    <a class="btn" style="background: #0A3FFF;color:white">
      <i class="fa fa-check" (click)="save()" [routerLink]="['../utilisateur']"></i>
    </a>
    <a class="btn" style="background: #DC3B3B;color: white">
      <i class="fa fa-ban" [routerLink]="['../utilisateur']"></i>
    </a>
  </div>
</div>


