<div class="main">
  <section class="sign-in">
    <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure><img src="assets/img/logo.PNG" alt="sing up image"></figure>
        </div>

        <div class="signin-form">
          <h2 class="form-title">Login</h2>
          <div class="register-form" id="login-form">
            <div class="form-group">
              <label for="username"><i class="fa fa-user"></i></label>
              <input id="username" type="text" [(ngModel)]="model.userid" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="mdp"><i class="fa fa-lock"></i></label>
              <input id="mdp" type="text" [(ngModel)]="model.password" placeholder="Password">
            </div>
            <p *ngIf="erreur" style="color: #DC3B3B">Identifiant ou mot de passe incorrect!</p>
            <button (click)="validate()" class="form-submit">Login</button>
          </div>
        </div>
        <a [routerLink]="['/inscription']" class="signup-image-link"> Create an account</a>
        <a [routerLink]="['/inscriptionEntreprise']" class="signup-image-link"> Create an entreprise</a>
        <button (click)="session()">session</button>
        <button (click)="disconnect()">Disconnect</button>
      </div>

    </div>

  </section>

</div>
