
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  /*border: 6px solid black;*/
  box-shadow: 1px 1px 10px #DC3B3B;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #DC3B3B;
  color: white;
  transform: rotateY(180deg);
}

.catalogue {
}

.form-style-9 {
  width: 1000px;
  height: auto;
  background: #FAFAFA;
  padding: 30px;
  margin: 100px auto;
  box-shadow: 1px 1px 25px black;
  border-radius: 10px;
  border: 4px solid black;
}

section{
  margin:20px auto;
}
