<div class="container">
  <div class="w3-bar-block" style="background: #DC3B3B;color: white;border-radius: 8px"><h1
    style="text-align: center;">CATALOGUES</h1>
  </div>
  <br>
  <section *ngFor="let event of list()">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img [src]="'assets/img/'+event.titre+'.jpg'" alt="Avatar" style="width:300px;height:200px;"/>
        </div>
        <div class="flip-card-back">
          <h2>{{event.titre}}</h2>
          <p class="price">{{event.prixStarch}} euros</p>
          <p>{{event.description}}</p>
          <button [routerLink]="['/orgaEvenementStarch', event.id]">Réserver</button>
        </div>
      </div>
    </div>
  </section>
</div>
