<div class="form-style-9">
  <h3 style="color: black;font-weight: bold;text-align: center;margin-bottom: 30px">CREATION DU GROUPE</h3>

  <form>
    <label for="nomGroupe" style="font-weight: bold;">Nom du Groupe*</label>
    <input type="text" class="form-control"
           id="nomGroupe" name="nomGroupe"
           [(ngModel)]="groupe.nom" style="border: 1px solid black" #nomGroupe="ngModel" required>
    <div *ngIf="nomGroupe.invalid && (nomGroupe.dirty)"
         class="error">
      <div *ngIf="nomGroupe.errors.required">
        Nom du Groupe obligatoire
      </div>
    </div>
    <div class="form-group"><label for="codeGroupe" style="font-weight: bold;">Code du
      Groupe* </label>
      <input type="text" class="form-control"
             id="codeGroupe" name="codeGroupe"
             [(ngModel)]="groupe.codeGroupe" style="border: 1px solid black" #codeGroupe="ngModel" required>
      <div *ngIf="codeGroupe.invalid && (codeGroupe.dirty)"
           class="error">
        <div *ngIf="codeGroupe.errors.required">
          Code du Groupe obligatoire
        </div>
      </div>
      <div *ngIf="isExist == true">
        <p style="color: #DC3B3B">Ce code groupe existe déjà</p>
      </div>
    </div>
  </form>
  <div class="btn-group btn-group-lg float-right"><a (click)="save()" class="btn" style="background: #0A3FFF;color:white">
    <i class="fa fa-check"></i></a>
    <a class="btn" style="background: #FF9D03;color: white">
      <i class="fa fa-ban" [routerLink]="['../utilisateur']"></i>
    </a>
  </div>
</div>

