.form-style-9 {
  max-width: 600px;
  background: #FAFAFA;
  padding: 30px;
  margin: 100px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #DC3B3B;
}

.form-style-9 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form-style-9 ul li {
  display: block;
  margin-bottom: 50px;
  min-height: 50px;
}

.form-style-9 ul li .field-style {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid black;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;

}

.form-style-9 ul li .field-style:focus {
  box-shadow: 0 0 5px #B0CFE0;
  border: 1px solid #B0CFE0;
}

.form-style-9 ul li .field-split {
  width: 49%;
}

.form-style-9 ul li .field-full {
  width: 100%;
}

.form-style-9 ul li input.align-left {
  float: left;
}

.form-style-9 ul li input.align-right {
  float: right;
}

.logo{
  width:10%;
  height:10%;
}
.error{
  color: #a94442;

}

label{
  font-weight: bold;
}
/*<style>-->*/
/*<!--        .container {-->*/
/*            <!--          display: block;-->*/
/*            <!--          position: relative;-->*/
/*            <!--          padding-left: 35px;-->*/
/*            <!--          margin-bottom: 12px;-->*/
/*            <!--          cursor: pointer;-->*/
/*            <!--          font-size: 18px;-->*/
/*            <!--          -webkit-user-select: none;-->*/
/*            <!--          -moz-user-select: none;-->*/
/*            <!--          -ms-user-select: none;-->*/
/*            <!--          user-select: none;-->*/
/*            <!--        }-->*/

/*<!--      <style>-->*/
/*<!--        .container {-->*/
/*            <!--          display: block;-->*/
/*            <!--          position: relative;-->*/
/*            <!--          padding-left: 35px;-->*/
/*            <!--          margin-bottom: 12px;-->*/
/*            <!--          cursor: pointer;-->*/
/*            <!--          font-size: 18px;-->*/
/*            <!--          -webkit-user-select: none;-->*/
/*            <!--          -moz-user-select: none;-->*/
/*            <!--          -ms-user-select: none;-->*/
/*            <!--          user-select: none;-->*/
/*            <!--        }-->*/

/*<!--        .container input {-->*/
/*            <!--          position: absolute;-->*/
/*            <!--          opacity: 0;-->*/
/*            <!--          cursor: pointer;-->*/
/*            <!--        }-->*/

/*<!--        .checkmark {-->*/
/*            <!--          position: absolute;-->*/
/*            <!--          top: 0;-->*/
/*            <!--          left: 0;-->*/
/*            <!--          height: 23px;-->*/
/*            <!--          width: 23px;-->*/
/*            <!--          background-color: #eee;-->*/
/*            <!--          border-radius: 50%;-->*/
/*            <!--        }-->*/

/*<!--        .container:hover input ~ .checkmark {-->*/
/*            <!--          background-color: #ccc;-->*/
/*            <!--        }-->*/

/*<!--        .container input:checked ~ .checkmark {-->*/
/*            <!--          background-color: #0A3FFF;-->*/
/*            <!--        }-->*/

/*<!--        .checkmark:after {-->*/
/*            <!--          content: "";-->*/
/*            <!--          position: absolute;-->*/
/*            <!--          display: none;-->*/
/*            <!--        }-->*/

/*<!--        .container input:checked ~ .checkmark:after {-->*/
/*            <!--          display: block;-->*/
/*            <!--        }-->*/

/*<!--        .container .checkmark:after {-->*/
/*            <!--          top: 7px;-->*/
/*            <!--          left: 7.2px;-->*/
/*            <!--          width: 9px;-->*/
/*            <!--          height: 9px;-->*/
/*            <!--          border-radius: 50%;-->*/
/*            <!--          background: white;-->*/
/*            <!--        }-->*/
/*<!--      </style>-->*/
