<div style="font-family:'Calibri Light';font-size: large">
  <!--  <div class="navbar">-->
  <!--    <img src="assets/img/logo.PNG" alt="logo" class="logo"/>-->
  <!--    <div class="btn-group"><a><i class="fa fa-fw fa-user"></i> Profil</a>-->
  <!--      <a href="#"><i class="fa fa-power-off"></i> Log Off</a></div>-->
  <!--    <a href="#"><i class="fa fa-calendar"></i> Calendar</a>-->
  <!--    <a href="#"><i class="fa fa-list-ul"></i> Liste</a>-->
  <!--  </div>-->

  <div id='cssmenu'>
    <ul>
      <li><a [routerLink]="['utilisateur']"><i class="fa fa-fw fa-user">
      </i>Profil</a></li>
      <li><a [routerLink]="['calendar']"><i class="fa fa-calendar"></i> Calendar</a></li>
      <li><a [routerLink]="['evenement/list']"><i class="fa fa-list-ul"></i> Liste</a></li>
      <img src="assets/img/logo.PNG" alt="logo" class="logo"/>
      <li style="float: right"><a href="#" (click)="disconnect()"><i class="fa fa-power-off"></i> Log
        Off</a></li>
    </ul>
  </div>

  <router-outlet></router-outlet>

</div>
