.logo {
  width: 7%;
  height: 7%;
}

.navbar {
  width: 100%;
  background-color: white;
  overflow: auto;
  border: 2px solid #FF9D03;
}

.navbar a {
  float: left;
  padding: 12px;
  color: #FF9D03;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #000;
}


