<div class="form-style-9">
  <h1 style="color: black;font-weight: bold;text-align: center;margin-bottom: 30px">ORGANISATION</h1>
  <form #orgaForm="ngForm" name="orgaForm">
    <ul>
      <label for="titre">Titre :</label>
      <input type="text" class="form-control" id="titre" name="titre"
             [(ngModel)]="evenement.titre" #titre="ngModel" required>
      <div *ngIf="titre.invalid && (titre.dirty)">
        <div *ngIf="titre.errors.required" class="error">
          Titre de l'activité obligatoire
        </div>
      </div>
      <label for="nomActivite">Nom activité:</label>
      <select class="form-control" name="nomActivite" id="nomActivite" [(ngModel)]="evenement.nomEvenement"
              #nomActivite="ngModel" required>
        <option value="">Activité</option>
        <option value="Foot_en_salle">Foot en salle</option>
        <option value="Escape_game">Escape game</option>
        <option value="Bowling">Bowling</option>
        <option value="Laser_game">Laser game</option>
        <option value="Boire_un_verre">Boire un verre</option>
        <option value="Musee">Musée</option>
      </select>
      <div *ngIf="nomActivite.invalid">
        <div *ngIf="nomActivite.errors.required" class="error">
          Nom de l'activité obligatoire
        </div>
      </div>
      <div class="form-group">
        <label for="typeActivite">Type d'activité:</label>
        <select class="form-control" id="typeActivite" name="typeActivite" [(ngModel)]="evenement.typeEvenement"
                #typeActivite="ngModel" required>
          <option value="">Type</option>
          <option value="Bar_restaurant">Bar Restaurant</option>
          <option value="Culturel">Culturel</option>
          <option value="Sportif">Sportif</option>
          <option value="Corporate">Corporate</option>
        </select>
        <div *ngIf="typeActivite.invalid">
          <div *ngIf="typeActivite.errors.required" class="error">
            Type de l'activité obligatoire
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="dtEtHeure">Date et heure :</label>
        <input type="date" class="form-control" id="dtEtHeure" name="dtEtHeure" [(ngModel)]="evenement.date"
               #dtEtHeure="ngModel" required>
        <div *ngIf="dtEtHeure.invalid">
          <div *ngIf="dtEtHeure.errors.required" class="error">
            Date obligatoire
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="deadline">Date limite d'inscription :</label>
        <input type="date" class="form-control" id="deadline" name="deadline" [(ngModel)]="evenement.deadline"
               #deadline="ngModel" required>
        <div *ngIf="deadline.invalid">
          <div *ngIf="deadline.errors.required" class="error">
            Date limite d'inscription obligatoire
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="lieu">Lieu préexistant:</label>
        <select class="form-control" id="lieu" name="lieu" [(ngModel)]="evenement.lieuxEvenement.id" #lieu="ngModel"
                required>
          <option value="">Lieu pré existant</option>
          <option *ngFor="let lieu of lieuxEvenements" [value]="lieu.id">{{lieu.nomLieu}}</option>
        </select>
        <div *ngIf="lieu.invalid">
          <div *ngIf="lieu.errors.required" class="error">
            Lieu obligatoire
          </div>
        </div>
      </div>
      <p>OU</p>
      <div class="form-group">
        <Label>Ajouter un nouveau lieu
          <button style="background-color: #F1EEEE; border:1px solid black; border-radius: 8px;"
                  class="fa fa-home fa-2x" [routerLink]="['../nouveauLieu']"></button>
        </Label>
      </div>
      <div class="form-group">
        <label for="prix">Prix :</label>
        <input type="number" class="form-control" name="prix" id="prix" [(ngModel)]="evenement.prix" #prix="ngModel"
               required>
        <div *ngIf="prix.invalid && (prix.dirty)">
          <div *ngIf="prix.errors.required" class="error">
            Prix obligatoire
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="nbParticipants">Nombre de participants :</label>
        <input type="number" class="form-control" id="nbParticipants" name="nbParticipants"
               [(ngModel)]="evenement.nbParticipantMax" #nbParticipants="ngModel" required>
        <div *ngIf="nbParticipants.invalid && (nbParticipants.dirty)">
          <div *ngIf="nbParticipants.errors.required" class="error">
            Nombre de participants obligatoire
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description :</label>
        <textarea class="form-control" id="description" name="description"></textarea>
      </div>
      <div class="form-group">
        <label for="groupe">Groupe :</label>
        <select class="form-control" id="groupe" name="groupe" [(ngModel)]="evenement.groupe.id">
          <option value="">Choisir un groupe</option>
          <option *ngFor="let groupe of groupes" [value]="groupe.id">{{groupe.nom}}</option>
        </select>
      </div>
<!--      <div>-->
<!--        <p>Organiser cet événement tout les :</p>-->
<!--        <div>-->
<!--          <input type="radio" id="jour" name="recurrence" value="jour"-->
<!--                 checked [(ngModel)]="evenement.recurrence">-->
<!--          <label for="jour">Jours</label>-->
<!--        </div>-->
<!--        <div>-->
<!--          <input type="radio" id="semaine" name="recurrence" value="semaine" [(ngModel)]="evenement.recurrence">-->
<!--          <label for="semaine">Semaine</label>-->
<!--        </div>-->

<!--        <div>-->
<!--          <input type="radio" id="mois" name="recurrence" value="mois" [(ngModel)]="evenement.recurrence">-->
<!--          <label for="mois">Mois</label>-->
<!--        </div>-->
<!--      </div>-->
    </ul>
  </form>
  <div class="btn-group btn-group-lg float-right">
    <a class="btn" style="background: #0A3FFF;color:white">
      <i class="fa fa-check" (click)="save()" [routerLink]="['/utilisateur/']"></i>
    </a>
    <a class="btn" style="background: #DC3B3B;color: white">
      <i class="fa fa-undo" [routerLink]="['..']"></i>
    </a>
  </div>
  <button (click)="session()">Session</button>
</div>
