<div class="form-style-9">
  <h1 style="color: black;font-weight: bold;text-align: center;margin-bottom: 30px">INSCRIPTION
  </h1>
  <form #insForm="ngForm" name="insForm" [mustMatch]="['mdp', 'confirmation']">
    <ul>
      <li>
        <input type="text" name="identifiant" class="field-style field-full align-none"
               [(ngModel)]="utilisateur.identifiant" required #identifiant="ngModel" placeholder="Identifiant*">
        <div *ngIf="identifiant.invalid && (identifiant.dirty)">
          <div *ngIf="identifiant.errors.required" class="error">
            Identifiant obligatoire
          </div>
        </div>
        <div *ngIf="isExist == true">
          <p>L'identifiant existe déjà</p>
        </div>
      </li>
      <li>
        <input type="password" name="mdp" class="field-style field-full align-none" [(ngModel)]="utilisateur.mdp"
               required #mdp="ngModel"
               minlength="4" placeholder="Mot de Passe*"/>
        <div *ngIf="mdp.invalid && (mdp.dirty)">
          <div *ngIf="mdp.errors.required" class="error">
            Password obligatoire
          </div>
          <div *ngIf="mdp.errors.minlength" class="error">
            Au moins 4 caractères
          </div>
        </div>

        <input type="password" name="confirmation" class="field-style field-full align-none" required
               [(ngModel)]="utilisateur.confirmation" #confirmation="ngModel"
               placeholder="Confirmer le mot de passe*"/>
        <div *ngIf="confirmation.invalid && (confirmation.dirty) "
             class="error">
          <div *ngIf="confirmation.errors.required" class="error">Confirmation obligatoire</div>
          <div *ngIf="confirmation.errors.mustMatch" class="error">Confirmation invalide</div>
        </div>
      </li>
      <li>
        <input type="text" name="nom" id="nom" class="field-style field-split align-left"
               [(ngModel)]="utilisateur.nom" required #nom="ngModel" placeholder="Nom*"/>
        <div *ngIf="nom.invalid && (nom.dirty)">
          <div *ngIf="nom.errors.required" class="error">
            Nom obligatoire
          </div>
        </div>

        <input type="text" name="prenom" id="prenom" class="field-style field-split align-right"
               [(ngModel)]="utilisateur.prenom" required #prenom="ngModel" placeholder="Prénom*"/>
        <div *ngIf="prenom.invalid && (prenom.dirty)"
             class="error">
          <div *ngIf="prenom.errors.required" class="error">
            Prénom obligatoire
          </div>
        </div>
      </li>
      <li>
        <input type="email" name="email" class="field-style field-split align-left"
               [(ngModel)]="utilisateur.email" required #email="ngModel" placeholder="Email*"/>
        <div *ngIf="email.invalid && (email.dirty)"
             class="error">
          <div *ngIf="email.errors.required" class="error">
            Courriel obligatoire
          </div>
        </div>

        <input type="text" class="field-style field-split align-right" id="telephone" name="telephone"
               [(ngModel)]="utilisateur.telephone" placeholder="Téléphone">
      </li>
      <li>
        <input type="text" name="code" id="code" class="field-style field-full align-none"
               [(ngModel)]="entreprise.codeEntreprise" required #code="ngModel" placeholder="Code Entreprise*"/>
        <div *ngIf="code.invalid && (code.dirty)"
             class="error">
          <div *ngIf="code.errors.required">
            Code Entreprise obligatoire
          </div>
        </div>
        <div *ngIf="entrepriseExist == false">
          <p>Ce code entreprise n'existe pas</p>
        </div>
      </li>
    </ul>
    *Obligatoire
  </form>
  <div class="btn-group btn-group-lg float-right">
    <a class="btn" style="background: #0A3FFF;color:white">
      <i class="fa fa-check" (click)="save()"></i>
    </a>
    <a class="btn" style="background: #DC3B3B;color: white">
      <i class="fa fa-undo" [routerLink]="['../login']"></i>
    </a>
  </div>

<!--  <p style="font-weight: bold">Choisir sa photo de profil</p>-->
<!--  <input type="file" ng2FileSelect [uploader]="uploader"/>-->

<!--  <ul>-->
<!--    <li *ngFor="let item of uploader.queue">-->
<!--      <strong>{{ item?.file?.name }}</strong>-->
<!--      <button type="button" class="btn btn-success btn-xs"-->
<!--              (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">-->
<!--        <span class="glyphicon glyphicon-upload"></span> Upload-->
<!--      </button>-->
<!--    </li>-->

<!--  </ul>-->
<p>Choisir sa photo de profil:</p>
  <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".jpg">


</div>


