<div class="container">
  <div class="card mt-3">
    <div class="card-header bg-info text-white">
      <h3>Modification des infos d'entreprise</h3>
    </div>

    <div class="card-body" >
      <div class="form-group">
        <label for="nom">Nom Entreprise* :</label>
        <input type="text" class="form-control" id="nom" [(ngModel)]="utilisateur.entreprise.nom">
      </div>
      <div class="form-group">
        <label for="siret">SIRET* :</label>
        <input type="text" class="form-control" id="siret"  [(ngModel)]="utilisateur.entreprise.siret">
      </div>
      <div class="form-group">
        <label for="rue">Rue* :</label>
        <input type="text" class="form-control" id="rue" [(ngModel)]="utilisateur.entreprise.adresse.rue">
      </div>
      <div class="form-group">
        <label for="codePostal">Code postal* :</label>
        <input type="text" class="form-control" id="codePostal"  [(ngModel)]="utilisateur.entreprise.adresse.codePostal" >
      </div>
      <div class="form-group">
        <label for="ville">Ville* :</label>
        <input type="text" class="form-control" id="ville" [(ngModel)]="utilisateur.entreprise.adresse.ville">
      </div>
      <div class="form-group">
        <label for="tva">TVA* :</label>
        <input type="text" class="form-control" id="tva"  [(ngModel)]="utilisateur.entreprise.tva">
      </div>
      <div class="form-group">
        <label for="code">Code Entreprise* :</label>
        <input type="text" class="form-control" id="code"  [(ngModel)]="utilisateur.entreprise.codeEntreprise">
      </div>
    </div>
    <div class="card-footer">
      <div class="btn-group btn-group-lg float-left">
        <h5><span class="badge badge-secondary">*Obligatoire</span></h5>
      </div>
      <div class="btn-group btn-group-lg float-right">
        <button style='font-size:24px' class="btn btn-secondary" (click)="save()">Valider les modifications<i class="fa fa-check"></i></button>
      </div>
    </div>
  </div>
</div>
