<div class="container">
  <div class="card mt-3">
    <div class="card-header bg-info text-white">
      <h3>Modification des infos d'entreprise</h3>
    </div>

    <div class="card-body" >
      <div class="form-group">
        <label for="nom">Nom Entreprise* :</label>
        <input type="text" class="form-control" name="nom" id="nom" [(ngModel)]="entreprise.nom" required #nom="ngModel" >
        <div *ngIf="nom.invalid && (nom.dirty)"
             class="error">
          <div *ngIf="nom.errors.required" class="error">
            Nom de l'entreprise obligatoire
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="siret">SIRET* :</label>
        <input type="text" class="form-control" name="siret" id="siret"  [(ngModel)]="entreprise.siret" required #siret="ngModel" >
        <div *ngIf="siret.invalid && (siret.dirty)"
             class="error">
          <div *ngIf="siret.errors.required" class="error">
            SIRET obligatoire
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="rue">Rue* :</label>
        <input type="text" class="form-control" name="rue" id="rue" [(ngModel)]="entreprise.adresse.rue" required #rue="ngModel" >
        <div *ngIf="rue.invalid && (rue.dirty)"
             class="error">
          <div *ngIf="rue.errors.required" class="error">
            Rue obligatoire
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="codePostal">Code postal* :</label>
        <input type="text" class="form-control" name="codePostal" id="codePostal"  [(ngModel)]="entreprise.adresse.codePostal" required #codePostal="ngModel"  >
        <div *ngIf="codePostal.invalid && (codePostal.dirty)"
             class="error">
          <div *ngIf="codePostal.errors.required" class="error">
            Code Postal obligatoire
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="ville">Ville* :</label>
        <input type="text" class="form-control" name="ville" id="ville" [(ngModel)]="entreprise.adresse.ville" required #ville="ngModel" >
        <div *ngIf="ville.invalid && (ville.dirty)"
             class="error">
          <div *ngIf="ville.errors.required" class="error">
            Ville obligatoire
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="tva">TVA* :</label>
        <input type="text" class="form-control" name="tva" id="tva"  [(ngModel)]="entreprise.tva" required #tva="ngModel" >
        <div *ngIf="tva.invalid && (tva.dirty)"
             class="error">
          <div *ngIf="tva.errors.required" class="error">
            TVA obligatoire
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="code">Code Entreprise* :</label>
        <input type="text" class="form-control" name="code" id="code"  [(ngModel)]="entreprise.codeEntreprise" required #code="ngModel" >
        <div *ngIf="code.invalid && (code.dirty)"
             class="error">
          <div *ngIf="code.errors.required" class="error">
            Code Entreprise obligatoire
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="btn-group btn-group-lg float-left">
        <h5><span class="badge badge-secondary">*Obligatoire</span></h5>
      </div>
      <div class="btn-group btn-group-lg float-right">
        <button style='font-size:24px' class="btn btn-secondary" (click)="save()">Valider les modifications<i class="fa fa-check"></i></button>
      </div>
    </div>
  </div>
</div>
