.form-style-9 {
  max-width: 1000px;
  background: #FAFAFA;
  padding: 30px;
  margin: 15px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #DC3B3B;
}

.form-style-8 {
  max-width: 600px;
  background: #FAFAFA;
  padding: 30px;
  margin-top: 10px;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #DC3B3B;
  text-align:center;
  height:850px;
  margin-left: 10px;
}

.avatar {
  max-width: 100%;
  height: auto;
  border:1px solid black;
}
