<div>
  <h2>Titre de l'evenement</h2>
</div>
<div>
  <p>Date et heure</p>
</div>
<div>
  Participe/Interesse
</div>
<div>
  Lieux (clickable)
</div>
<div>
  Nombre de participants, interesses
</div>
<div>
  Pirx
</div>
<div>
  Nombre de places disponibles
</div>
<div>
  Statut
</div>
<div>
  Description
  <div>
    description de l'evenement
  </div>
</div>
<div>
  Date limite de l'inscription
</div>
<div>
  Ajouter un commentaire :
  <div>
    <input type="text">
    <button type="button">Valider</button>
  </div>
</div>
<div>
  Commentaires :
  <div>
    commentaire 1
  </div>
  <div>
    commentaire 2
  </div>
</div>
